{% extends 'base.html.twig' %}

{% block title %}Product overview{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome on board</h1>

    <p>You can see a list of your products here: <a class="nav-link" href={{ path("products") }}>See my products</a></p>
    
    <p>Or a list of your rules here: <a class="nav-link" href={{ path("rules") }}>See my rules</a></p>
</div>
{% endblock %}
